body {
    font-family: 'Poppins', sans-serif;
    margin: 5% 2%;
}

.blue {
    color: rgb(27, 118, 255);
}

.flexible-container {
    display: flex;
    margin-bottom: 10px;
}

h1 {
    font-size: 55px;
    color: rgb(75, 75, 75);
}

h2 {
    font-size: 45px;
    margin-bottom: 0%;

}

.half-width {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5px;
    font-size: 20px;
}

.half-width img {
    width: 115%;


}


.link-button {
    text-decoration: none;
    background-color: blue;
    background-image: linear-gradient(rgb(69, 69, 253), cyan);
    padding: 10px;
    border-radius: 25px;
    color: white;
}

.pad {
    margin-top: 5%;
    margin-left: 5%;
}



.banner {
    background-image: url("images/Frame\ 57.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 100%;
}

#align {
    text-align: center;
    padding-bottom: 40px;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.box {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 5px 40px;
    box-shadow: 10px 10px 40px rgb(137, 203, 253);
    border-radius: 25px;
    width: 26%;
    text-align: left;
}

.radius {
    border-radius: 15px;
}

.bottom-box {
    display: flex;
    flex-direction: row;
    width: 97%;
    box-shadow: 10px 10px 40px rgb(137, 203, 253);
    border-radius: 20px;
    margin-top: 40px;
    margin-left: 37px;
}

.social {
    width: 100%;
    padding-right: 15%;
    padding-left: 12%;
    text-align: left;

}

p {
    padding-bottom: 25px;
}